#question_form {
  display: none;
}

.list-group-item.no-active form {
  width: 100%;
  background-color: white;
}

.list-group-item.no-active form input {
  background-color: white;
  padding-left: 20px;
  width: 99.5%;
}

.list-group-item.no-active form {
  display: flex;
  margin-bottom: -1px;
}

.list-group-item.no-active form .form-group {
  margin-bottom: 0;
  width: 90%;
}


.list-group-item.no-active form input:focus {
  box-shadow: 0 0 0px 0rem rgba(75, 191, 115, 0.86)
}

.form-row {
  margin-left: 0;
  width: 100%;
}

.list-group-item.no-active form .form-group.question {
  height: 44%;
}

.form-row textarea {
  width: 100%;
  resize: none;
  border: 0;
  border-top: solid 1px #D4D4D4;
  margin-top: -1px;
  height: 100px;
  padding: 10px 20px;
}

.list-group-item.no-active form .form-group.question {
  width: 100%;
}
