.btn-group {
  border: solid 1px #E2E2E2;
  width: 100%;
  height: 48px;
}

.btn.btn-secondary {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4%;
  background-color: #f4fcef;
  width: 5%;
  height: 45px;
}

.btn.btn-secondary:hover {
  background-color: #DAE4D3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
  cursor: pointer;
  background-color: #f4fcef;
  padding-left: 0;
  padding-right: 0;
    text-align: center;
    -moz-appearance: textfield;
}
