.list-group-item {
  display: flex;
  justify-content: space-between;
  padding: 0;
  cursor: pointer;
  color: #616161;
}

.list-group-item button {
  position:relative;
  z-index: 9999;
}

.list-group-item a {
  text-decoration: none;
  display: block;
  font-style: normal;
  width: 90%;
  height: 45px;
  padding-top: 11px;
  padding-left: 20px;
}

.list-group-item:hover {
  background-color: #f4fcef;
}

.no-active {
  cursor: default;
  font-weight: bold;
  background-color: #f4fcef;
}

.list-group-item input.rename {
  width: 90%;
  border:0;
  padding-left: 21px;
}

.list-group-item input:focus {
  outline: 0;
}

.over_li {
   list-style-type: none;
}

.under_ul {
  padding: 0;
  margin: 0;
}

li.rename-form {
  display: none;
}
